html{
	width: 100%;
  height: 100%;
	background: #1192d3 url(http://3.bp.blogspot.com/-slMS7NVyLFE/Vji0yb_l42I/AAAAAAAAhDc/jBWU_DJexRg/s1600/islamic-architecture-art-by-mshtag21-on-deviantart.jpg) repeat bottom right;
  background-size: cover;
}
